*{
  padding: 0;
  margin: 0;
}

.leftSideBox{
  background-color: #526FE4;
  display: inline-block;
  width: 12%;
  height: 100vh;
  color: white;
}

.rightSideBox{
  display: inline-block;
  width: 88%;
  height: 100vh;
  vertical-align: top;
  background-color: #F1F5FA;
}

button{
  padding: 2px;
  margin-left: 25px;
  margin-top: 7px;
  font-size: 20px;
  border-radius: 5px;
}

.rightSideBox .rightMain{
  background-color: white;
  vertical-align: top;
  margin-top: 2%;
  margin-top: 2%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  height: 88vh;
}

.rightSideBox .rightMain .leftContainer{
  display: inline-block;
  border:2px solid #F5F5F5;
  border-radius: 1%;
  width:44%;
  height: 73vh;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 1%;
  padding-left: 25px; 
}

.rightSideBox .rightMain .rightContainer{
  display: inline-block;
  border:2px solid #F5F5F5;
  border-radius: 1%;
  width:43%;
  height: 73vh;
  margin-top: 2%;
  vertical-align: top;
  padding-right: 3%;
}

.rightSideBox .rightMain .leftContainer .calculatorText{
  margin-left: 35px;
}

.container{
  display: grid;
  place-items: center;
  margin-left: 10px;
  padding-right: 50px;
}

.sliderPanelDiv .sliderhead{
  display: inline;
}

h3{
  display: inline;
}

h1{
  color: red;
  text-align: center;
}

.h2errComp{
  color: green;
  text-align: center;
}

.sliderPanelDiv .slider{
  margin-top: 25px;
}

.sliderPanelDiv .Input{
  float:right;
  margin-right: 10px;
  background-color: #ECF1FC;
  border: none;
  text-align: center;
  width:20%;
  height: 4vh;
}

.rightSideBox .rightMain .rightContainer .graphHeader{
  margin-left: 30px;
  margin-bottom: 50px;
  padding-top: 25px;
  color: #605e5e
}

.rightSideBox .rightMain .rightContainer .graphFooter{
  margin-left: 5px;
}

.rightSideBox .rightMain .rightContainer .graphHeader .timeperiod{
  color:black
}

.rightSideBox .rightMain .rightContainer .graphHeader .totalamount{
  color:#4B6AE2;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rightSideBox .rightMain .rightContainer .graphHeader .potentialcapitalgain{
  color: #FFAD85;
}

.rightSideBox .rightMain .rightContainer .graphHeader .monthlyinvestment{
  color: #0BA77A;
}

svg, .graphFooter{
  overflow: visible;
}

/* @media only screen and (max-width: 601px) {
  .rightSideBox{
  background-color: #526FE4;
  display: none;
  width: 5%;
  height: 100vh;
  color: white;
  }
} */